body {
	font-size: 1em;
}

.carousel.carousel-slider .carousel-item {
	padding-top: 1em;
}

#content-wrapper {
	padding: 3em;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	position: relative;
}

main {
	z-index: 1;
	min-height: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1em;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	transition-property: background-color;
}
main.dark {
	background-color: rgba(255, 255, 255, 0.04);
}

.result-container {
	margin: 0;
	color: #FFF;
	padding: 0.2em;
	overflow-x: auto;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
}

#rcg-choices {
	padding: 0 1em;
}

.rcg-picked {
	background-color: #666;
	color: #FFF;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 1em;
	color: #CCC;
	z-index: 3;
}

footer a:link, footer a:active, footer a:visited {
	color: #DDD;
	text-decoration: none;
}
footer a.dark:link, footer a.dark:active, footer a.dark:visited {
	color: #999;
	text-decoration: none;
}

footer a:hover, footer a.dark:hover {
	color: #FFF;
	text-decoration: none;
}

#particles-js.fullscreen {
	z-index: 2;
}

#8ball-container {
	position: relative;
}
